/* GLOBAL STYLES
-------------------------------------------------- */
body {
  /*padding-bottom: 40px;  Padding below the footer and lighter body text */
  color: #3e7c2b;
  
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;

}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  /*padding-right: 50px;
  padding-left: 50px;*/
  background-color: #ffffff;
}
.navbar-inverse {
  /*background-color: #62961f;*/
}

.navbar-wrapper .navbar .container {
  width: auto;
}
.row-featurette{
  background-color: green;
}

.headertext {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}
}
.container-header .headerpic1{
    position: absolute;
    display: inline;
    right: -10px;
}
.container-header .headerpic2{
    position: absolute;
    left: 1060px;
    display: inline;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 100px 20; /* Space out the Bootstrap <hr> more */
}

.featurette-heading {
  font-family: Georgia, Helvetica, sans-serif;
  font-weight: 160;
  line-height: 1.5;
  letter-spacing: -1px;
  margin: 30px; 
}
.lead {
  font-family: Georgia, Helvetica, sans-serif;
  font-weight: 120;
  margin: 30px; 
}

/* CUSTOMIZE THE CAROUSEL*/

/* Carousel base class */
/*.carousel {
  height: 500px;
  margin-bottom: 60px;
}*/

/*.intro{
  z-index: 10;
  color: #81bc65;
  font-family:"Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}*/

.row-featurette > .col-md-5 > img {
  border-radius: 15px 50px;
  /*height:300px;
  width:300px;*/
}

/*all about footer style below */
footer {
  /*background-color: #a8e5ed;*/
  height: 400px;
  font:italic bold 12px/30px Georgia, serif;
}
footer h3{
  text-align: center;
  font: bold 25px Georgia, serif;
}

.errormsg {
  display:none;
  color:#ed8a49;
}
.footer-centr{
  text-align: center;
  font: bold 12px/30px Georgia, serif;
}
.navbar-sociallink{
  display: inline-block;
}
.contact-form {
  text-align: right;
}
.copyright{
  text-align: center;
}




/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
    border-radius: 4px;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  .featurette-heading {
    font-size: 80px;
  }
}

@media screen and (min-width: 992px) {
  .featurette-heading {
      margin-top: 120px;
  }
}
