.nav navbar-homepage{
  background-color: green;
  max-width: 98%;
  min-width: 140px;
  flex: 1;
}
body{
	text-align: center;
	background-image: url(/Images/Jool_bgimg2.png);
	padding: 0;
}

.navbar {
	text-decoration: none;
}
.navbar-header {
	text-decoration: none;
	display: block;
}

.image{
	background-position: center;
	background-size: cover;
	margin:0;
}
.image p {
	color: DarkGrey;
	font-size: 2em;

}
#footer{ 
  font-size:0.95rem;
}
/*video {
  background-color: #000000;
  border: 2px solid black;
}*/